body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

.button-container {
    margin: 20px 0;
    text-align: center;
}

button, .custom-file-upload {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}

button:hover, .custom-file-upload:hover {
    background-color: #0056b3;
}

input[type="file"] {
    display: none;
}

#uploadedImage, #cameraImage {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border: 2px solid #ddd;
    border-radius: 5px;
}

#result {
    font-size: 1.2em;
    color: #333;
}

#backToMenu {
    display: block;
    margin: 20px;
}

@media (max-width: 600px) {
    button, .custom-file-upload {
        width: 100%;
        box-sizing: border-box;
    }
}
